<div class="card-body">
<h1 class="card bg-info">Menu</h1>
</div>

<ul class="nav nav-tabs">
<li class="nav-item">
    <a class="nav-link" [routerLink]="['../presentation']" routerLinkActive="active">Présentation</a>
</li>

<li class="nav-item" class="c0">

    <a class="nav-link" [routerLink]="['../articles']" routerLinkActive="active">Liste des Livres</a>
</li>

<li class="nav-item">

        <a class="nav-link" [routerLink]="['../ajout']" routerLinkActive="active">Ajout d'un Livre</a>
</li>


<li class="nav-item">

        <a class="nav-link" [routerLink]="['../rechercher']" routerLinkActive="active">Recherche d'un Livre</a>
</li>

<li class="nav-item">

        <a class="nav-link" [routerLink]="['../modifer']" routerLinkActive="active">Modification d'un Livre</a>
</li>


<li class="nav-item">

    <a class="nav-link" [routerLink]="['../contacter']" routerLinkActive="active">Contacter Nous</a>
</li>
    
</ul>
