<div class="card-body">
<h1 class="list-group-item list-group-item-primary">Menu</h1>
</div>

<ul class="nav nav-tabs">
<li class="nav-item">
    <a class="nav-link" [routerLink]="['../presentation']" routerLinkActive="active">Présentation</a>
</li>

<li class="nav-item">

    <a class="nav-link" [routerLink]="['../articles']" routerLinkActive="active">Liste des Livres</a>
</li>

<li class="nav-item">

        <a class="nav-link" [routerLink]="['../ajout']" routerLinkActive="active">Ajout d'un Livre</a>
</li>


<li class="nav-item">

    <a class="nav-link" [routerLink]="['../contacter']" routerLinkActive="active">Contacter Nous</a>
</li>
    
</ul>
