<app-menu></app-menu>

<div >
<h3 class="text-info">Vous pouvez nous contacter par</h3> 
<p class="list-group-item list-group-item-warning">Nos  email : </p>

<div>
<p class="card-body"  class="text-danger"><a href="http://skander5majdoub@gmail.com">skander5majdoub@gmail.com </a> </p>
</div>


<p class="list-group-item list-group-item-warning"> Nos numéros de téléphone : </p>

<div  > 
<p  class="card-body" class="text-danger">51 861 236 - 24 987 234 </p>
</div>
</div>

<div [ngStyle]="{background: 'url(../assets/gif.gif)'}" class="c10"> 





</div>
