<app-menu></app-menu>
<h3 class="text-info" >Notre Bibliothéque </h3>
<p></p>

<div >
    <ul class="card-group" >
        <li class="list-group-item"  *ngFor="let t of tabLivres">
        <div  class="list-group-item list-group-item-primary">
    
                <img [src]="t.photo"  height="300" class="zoom">
                <div>
                     <p class="card bg-warning">Identitfiant: {{t.identifiant}} </p>
                     <p class="card bg-warning">Libelle: {{t.libelle}} </p>
                     <p class="card bg-warning">Prix: {{t.prix|currency}} </p>
                </div>
   
                <button class="btn btn-success" (click)="onEffacer(t.identifiant)" >Effacer Livre</button>
                <a [routerLink]="['/articles',t.identifiant,t.libelle,t.dispo,t.prix]" class="c1" >Plus d'Infos sur le Livre</a>
        </div>
 
        </li>
    </ul>
</div>